<%= form_with(model: note) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <% if I18n.locale == :es %>
        <h5>
          <h5 class="error-title-note center-align"> <%= pluralize(note.errors.count, 'error', 'errores') %> <%= t('errors.notes.count', count: note.errors.count) %></h5>
      <% else %>
        <h5>
          <h5> <%= pluralize(note.errors.count, 'error') %> <%= t('errors.notes.count', count: note.errors.count) %> </h5>
        </h5>
      <% end %>
      <ul>
        <% note.errors.each do |error| %>
          <li>&bull; <%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row" style="margin-top: 7mm">
    <div class="input-field col s12">
      <%= form.text_field :title, autofocus: true %>
      <%= form.label :title, t('forms.notes.input_title_label') %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= form.text_area :body, class: 'materialize-textarea' %>
      <%= form.label :body, t('forms.notes.input_body_label') %>
    </div>
  </div>

  <div class="row">
    <div class="col s12 right-align">
      <button class="btn-flat waves-effect waves-light" type="submit">
        <%= material_icon.send %>
      </button>
    </div>
  </div>
<% end %>
